.custom-card-choose:hover {
  cursor: context-menu !important;
  box-shadow: 0px 0px white !important;
}
.arrow-custom {
    background: #3dba3d;
    color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}