.btn-neg:focus {
  border: 0px solid white !important;
  outline: 0px !important;
}
.btn-pos:focus {
  border: 0px solid white !important;
  outline: 0px !important;
}
.input-text:focus {
  outline: 0px;
}
.img-click:hover {
  cursor: pointer;
}
.animated-img{
  animation: animations 10s ease-in-out infinite;
}
@keyframes animations {
  0%{
    transform: rotate(0deg) translate(.5s)
  }100%{
    transform: rotate(360deg)
  }
}